/* Agent Form Modal Styling */

.formModal {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
}

.modal {
    background-color: white;
    width: 30%;
    padding: 30px 20px;
    border-radius: 20px;
    max-height: 90vh;
    overflow: auto;
}

.inputStyle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputStyle input {
    padding: 10px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.inputStyle label {
    font-weight: bold;
    font-size: 20px;
    font-style: IPM PLEX Sans;
}

.inputStyle ::placeholder {
    font-size: 15px;
}

.container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
    padding: 20px;
}

.top h1 {
    color: rgba(245, 130, 32, 1);
}

.inputStyle button {
    background: rgba(245, 130, 32, 1);
    color: white;
    padding: 20px;
    border-radius: 5px;
    border: none;
    gap: 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .modal {
        width: 40%; /* Adjust width for medium devices */
        padding: 25px;
    }

    .inputStyle input,
    .inputStyle button {
        font-size: 16px;
    }

    .top h1 {
        font-size: 28px; /* Adjust top h1 font size */
    }
}

@media (max-width: 768px) {
    .modal {
        width: 60%; /* Adjust width for tablets */
        padding: 20px;
    }

    .inputStyle input,
    .inputStyle button {
        font-size: 14px; /* Smaller text size for smaller screens */
    }

    .top h1 {
        font-size: 26px; /* Slightly smaller top h1 font */
    }
}

@media (max-width: 480px) {
    .modal {
        width: 80%; /* Full width for very small screens */
        padding: 15px;
    }

    .inputStyle input,
    .inputStyle button {
        font-size: 13px; /* Adjust input and button font size for small screens */
    }

    .top h1 {
        font-size: 24px; /* Smaller font for very small screens */
    }
}
