.topfooter{
    justify-content: space-between;
     background: rgba(29, 41, 57, 1);
     padding: 30px;
 }
 .footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.footer p
{
    color: rgba(208, 213, 221, 1);
    padding: 20px;
}
.logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socials{
    display: flex;
    gap: 10px;
}