/* Merchant Form Top Heading Styling */
.top h1 {
    color: rgba(245, 130, 32, 1);
    align-items: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .top h1 {
        font-size: 28px; /* Adjust font size for medium screens */
        text-align: center; /* Ensure the text is centered on tablets */
    }
}

@media (max-width: 768px) {
    .top h1 {
        font-size: 24px; /* Adjust font size for tablets or small devices */
        text-align: center; /* Center the text */
    }
}

@media (max-width: 480px) {
    .top h1 {
        font-size: 20px; /* Adjust font size for small screens */
        text-align: center; /* Center the text on small screens */
    }
}
