.nav-content{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 100px;
    padding: 60px;
    position: relative;
}
.nav-content img{
    width: 120px;
}
.navlinks{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-decoration: none  
}
.navlinks p{
   font-size: 20px;
   display: flex;
   align-items: center;
   gap: 7px;
   color: black;
   padding: 3px;
}
.load{
    border-bottom:1px solid orange;
    color: orange;
    
}

.nav-btn button{
   border: none;
   padding: 12px;
   font-size: 12px;
   border-radius: 8px;
   color: white;
   font-size: 20px;
   background-color: rgba(245, 130, 32, 1);
}
.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}



 

